@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* Theme variables */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --btn-background: #f0f0f0;
  --btn-text: #000000;
}

[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #ffffff;
  --btn-background: #333333;
  --btn-text: #ffffff;
}

/* Navigation */
nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

.nav-links a {
  color: var(--text-color);
  text-decoration: none;
}

.nav-links a:hover {
  color: grey;
  text-decoration: underline;
}

/* Buttons */
.btn {
  background-color: var(--btn-background);
  color: var(--btn-text);
  padding: 1rem;
  border-radius: 2rem;
  transition: all 300ms ease;
}

.btn:hover {
  background-color: var(--btn-background);
  color: white;
}

/* Profile Section */
#profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto;
}

/* Icons */
.icon {
  cursor: pointer;
  height: 2rem;
}

.icon:hover {
  filter: brightness(1.2);
}
